.App {
  text-align: center;
}

.all-container {
  position: relative;
}

.login-container {
  position: absolute;
  background-color: #3f373c;
}

.container-element {
  margin-top: 10px;
}

.list-group{
  list-style-type: none;
}

.list-group-item>li{
  float:left;
}

.list-group-item>button{
   float:right;
   margin-left: 10px !important;
}

.list-group-item>*{
  display: inline-block;
}
