.App {
  text-align: center;
}

h1 {
  color: #ffc107; 
}

.logout-button {
  position: absolute;
  right: 2%;
}

.todo-app {
  background-color: #3f373c;
  padding: 1.2em;
  .new-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    input{
      width: 80% !important;
    }
  }
}

.list-group{
  list-style-type: none;
}

.list-group-item>li{
  float:left;
}

.list-group-item>button{
   float:right;
   margin-left: 10px !important;
}

.list-group-item>*{
  display: inline-block;
}
